<!--
  Generated template for the AjouterProjetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>

    <ion-title>Parcelle : {{objetActuel.id}} </ion-title>

    <ion-buttons end>


      <div (click)="detailActionMenu()">
        <ion-icon  style="zoom:1.5; /*background-color: #32db64;*/padding-right: 10px;padding-left: 30px;padding-top: 0px;padding-bottom: 0px;" name="md-more"  item-end></ion-icon>

      </div>


    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-item padding="0" style="border-bottom: 0px;">
    <h1 >Informations :</h1>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Parcelle : </ion-label>
    <ion-input text-center type="text" readonly="true" [(ngModel)]="objetActuel.id"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Consistance:</ion-label>
    <ion-select (ionChange) = "onConsistanceSelectChange($event)"   multiple="true" name = "Type vehicule" [(ngModel)]="objetActuel.consistanceionselect"  >
      <ion-option *ngFor="let item of listeChoixConsistance" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.consistanceionselect || objetActuel.consistance">
    <ion-input  (ngModelChange)="onConsistanceInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.consistance"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Plus Values:</ion-label>
    <ion-select (ionChange) = "onPlusvaluesSelectChange($event)"   multiple="true" name = "Type vehicule" [(ngModel)]="objetActuel.plusvaluesionselect"  >
      <ion-option *ngFor="let item of listeChoixPlusvalues" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.plusvaluesionselect || objetActuel.plusvalues">
    <ion-input (ngModelChange)="onPlusvaluesInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.plusvalues"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Douar:</ion-label>
    <ion-select (ionChange) = "onDouarSelectChange($event)"   multiple="true" name = "Type vehicule" [(ngModel)]="objetActuel.douarionselect"  >
      <ion-option *ngFor="let item of listeChoixDouar" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.nom_douarionselect || objetActuel.nom_douar">
    <ion-input (ngModelChange)="onDouarInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.nom_douar"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Naiib:</ion-label>
    <ion-select (ionChange) = "onNaiibSelectChange($event)"   multiple="true" name = "Type vehicule" [(ngModel)]="objetActuel.naiibionselect"  >
      <ion-option *ngFor="let item of listeChoixNaiib" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.naiibionselect || objetActuel.naiib">
    <ion-input (ngModelChange)="onNaiibInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.naiib"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Moqadem:</ion-label>
    <ion-select (ionChange) = "onMokademSelectChange($event)"   multiple="false" name = "Type vehicule" [(ngModel)]="objetActuel.mokademionselect"  >
      <ion-option *ngFor="let item of listeChoixMokadem" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.mokademionselect || objetActuel.mokadem">
    <ion-input (ngModelChange)="onMokademInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.mokadem"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Qualité: </ion-label>
    <ion-select (ionChange) = "onQualiteSelectChange($event)"   multiple="false" [(ngModel)]="objetActuel.qualite"  >
      <ion-option *ngFor="let item of ['Ayant Droit','Tiers']" [value]="item">{{item}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Constructions: </ion-label>
    <ion-select (ionChange) = "onConstructionsSelectChange($event)"   multiple="true" name = "Type vehicule" [(ngModel)]="objetActuel.constructionsionselect"  >
      <ion-option *ngFor="let item of listeChoixConstructions" [value]="item[0]">{{item[0]}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="objetActuel.constructionsionselect || objetActuel.constructions">
    <ion-input (ngModelChange)="onConstructionsInuptChange($event)"  text-center type="text" name="adressefournisseur" [(ngModel)]="objetActuel.constructions"  ></ion-input>
  </ion-item>



  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Adresse :
    </ion-label>
    <ion-input text-center type="text" [(ngModel)]="objetActuel.adresse"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Nom :
    </ion-label>
    <ion-input text-center type="text" [(ngModel)]="objetActuel.nom_provisoire"  ></ion-input>
  </ion-item>

  <!--ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Coll selon Naïb :
    </ion-label>
    <ion-input text-center type="text" [(ngModel)]="objetActuel.coldenaib"  ></ion-input>
  </ion-item-->





  <button type="submit" color="tertiary" ion-button (click)="enregistrerInformationsAttributaires()" block >
    Enregistrer modifications
  </button>

  <br><br>

  <ion-item  [id]="id"  style="padding:4" >

    <ion-label style="color: #000;">
      <h1 >Bornes Centroïdes :</h1>




    </ion-label>



    <ion-icon name="add-circle" (click)="recupererGraphic()" item-end></ion-icon>


  </ion-item>



  <ion-list>

    <div *ngFor="let item of listeCentroides;let index = index;">

      <button   mode="md" ion-item    (click)="itemTapped($event, item)">
        Borne {{index+1}}
        <p>X = {{item.xnordmaroc.toFixed(2)}} </p>
        <p>Y = {{item.ynordmaroc.toFixed(2)}} </p>

        <ion-icon  style="zoom:1; /*background-color: #32db64;*/padding-right: 10px;padding-left: 30px;padding-top: 10px;padding-bottom: 10px;" name="md-more" (click)="detailItemTapped($event, item)" item-end></ion-icon>
      </button>

    </div>


  </ion-list>




  <ion-item  *ngIf="bddPhoto['photocinrecto'] && bddPhoto['photocinrecto'][objetActuel.id] &&  bddPhoto['photocinrecto'][objetActuel.id]['sent'].toString() === 'false' " padding="0" style="border-bottom: 0px;background-color: #f53d3d">
    <h1 >Photo CIN Recto:</h1>
  </ion-item>
  <ion-item  *ngIf="bddPhoto['photocinrecto'] && bddPhoto['photocinrecto'][objetActuel.id] &&  bddPhoto['photocinrecto'][objetActuel.id]['sent'].toString() === 'true'"  padding="0" style="border-bottom: 0px;background-color: #32db64">
    <h1 >Photo CIN Recto:</h1>
  </ion-item>
  <ion-item *ngIf="!bddPhoto['photocinrecto'] || !bddPhoto['photocinrecto'][objetActuel.id]" padding="0" style="border-bottom: 0px;">
    <h1 >Photo CIN Recto :</h1>
  </ion-item>


  <img (click)="afficherPhotoCinRecto()" style="width: auto;margin: auto;display: block"  [(src)]="objetActuel.photocinrecto" *ngIf="objetActuel.photocinrecto"/>

  <br>

  <div text-center>
    <button ion-button round  (click)="photoChooser(objetActuel,'photocinrecto',1200,2000,100)">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>

  <div *ngIf="objetActuel.photocinrecto" text-center>
    <button ion-button round  (click)="reenvoyerPhoto('photocinrecto')">
      Réenvoyer  <ion-icon padding name="refresh"></ion-icon>
    </button>
  </div>


  <ion-item  *ngIf="bddPhoto['photocinverso'] && bddPhoto['photocinverso'][objetActuel.id] &&  bddPhoto['photocinverso'][objetActuel.id]['sent'].toString() === 'false' " padding="0" style="border-bottom: 0px;background-color: #f53d3d">
    <h1 >Photo CIN Verso:</h1>
  </ion-item>
  <ion-item  *ngIf="bddPhoto['photocinverso'] && bddPhoto['photocinverso'][objetActuel.id] &&  bddPhoto['photocinverso'][objetActuel.id]['sent'].toString() === 'true'"  padding="0" style="border-bottom: 0px;background-color: #32db64">
    <h1 >Photo CIN Verso:</h1>
  </ion-item>
  <ion-item *ngIf="!bddPhoto['photocinverso'] || !bddPhoto['photocinverso'][objetActuel.id]" padding="0" style="border-bottom: 0px;">
    <h1 >Photo CIN Verso :</h1>
  </ion-item>

  <img (click)="afficherPhotoCinVerso()" style="width: auto;margin: auto;display: block"  [(src)]="objetActuel.photocinverso" *ngIf="objetActuel.photocinverso"/>

  <br>

  <div text-center>
    <button ion-button round  (click)="photoChooser(objetActuel,'photocinverso',1200,2000,100)">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>

  <div *ngIf="objetActuel.photocinverso" text-center>
    <button ion-button round  (click)="reenvoyerPhoto('photocinverso')">
      Réenvoyer  <ion-icon padding name="refresh"></ion-icon>
    </button>
  </div>

  <ion-item  *ngIf="bddPhoto['photoparcelle'] && bddPhoto['photoparcelle'][objetActuel.id] &&  bddPhoto['photoparcelle'][objetActuel.id]['sent'].toString() === 'false' " padding="0" style="border-bottom: 0px;background-color: #f53d3d">
    <h1 >Photo Parcelle:</h1>
  </ion-item>
  <ion-item  *ngIf="bddPhoto['photoparcelle'] && bddPhoto['photoparcelle'][objetActuel.id] &&  bddPhoto['photoparcelle'][objetActuel.id]['sent'].toString() === 'true'"  padding="0" style="border-bottom: 0px;background-color: #32db64">
    <h1 >Photo Parcelle:</h1>
  </ion-item>
  <ion-item *ngIf="!bddPhoto['photoparcelle'] || !bddPhoto['photoparcelle'][objetActuel.id]" padding="0" style="border-bottom: 0px;">
    <h1 >Photo Parcelle:</h1>
  </ion-item>


  <img (click)="afficherPhotoParcelle()" style="width: auto;margin: auto;display: block"  [(src)]="objetActuel.photoparcelle" *ngIf="objetActuel.photoparcelle"/>

  <br>

  <div text-center>
    <button ion-button round  (click)="photoChooser(objetActuel,'photoparcelle',1200,2000,100)">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>

  <div *ngIf="objetActuel.photoparcelle" text-center>
    <button ion-button round  (click)="reenvoyerPhoto('photoparcelle')">
      Réenvoyer  <ion-icon padding name="refresh"></ion-icon>
    </button>
  </div>

  <ion-item  *ngIf="bddPhoto['photocroquis'] && bddPhoto['photocroquis'][objetActuel.id] &&  bddPhoto['photocroquis'][objetActuel.id]['sent'].toString() === 'false' " padding="0" style="border-bottom: 0px;background-color: #f53d3d">
    <h1 >Photo Croquis:</h1>
  </ion-item>
  <ion-item  *ngIf="bddPhoto['photocroquis'] && bddPhoto['photocroquis'][objetActuel.id] &&  bddPhoto['photocroquis'][objetActuel.id]['sent'].toString() === 'true'"  padding="0" style="border-bottom: 0px;background-color: #32db64">
    <h1 >Photo Croquis:</h1>
  </ion-item>
  <ion-item *ngIf="!bddPhoto['photocroquis'] || !bddPhoto['photocroquis'][objetActuel.id]" padding="0" style="border-bottom: 0px;">
    <h1 >Photo Croquis:</h1>
  </ion-item>

  <img  (click)="afficherPhotoCroquis()"  style="width: auto;margin: auto;display: block"  [(src)]="objetActuel.photocroquis" *ngIf="objetActuel.photocroquis"/>

  <br>

  <div text-center>
    <button ion-button round  (click)="photoChooser(objetActuel,'photocroquis',1200,2000,100)">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>

  <div *ngIf="objetActuel.photocroquis" text-center>
    <button ion-button round  (click)="reenvoyerPhoto('photocroquis')">
      Réenvoyer  <ion-icon padding name="refresh"></ion-icon>
    </button>
  </div>



  <ion-item padding="0" style="border-bottom: 0px;">
  </ion-item>





</ion-content>
